{% extends "base.html" %}

{% block main %}

<!-- begin #content -->
<div id="content" class="content">

	<div class="row">
	    <!-- begin col-12 -->
	    <div class="col-12 ui-sortable">
	        <!-- begin panel -->
	        <div class="panel panel-inverse">
	            <div class="panel-heading">
	                <h4 class="panel-title">Charts</h4>
	            </div>
	            <div class="panel-body">
	            	<div id="highchart_container" style="min-width:800px;height:400px">
	            		
	            	</div>
	            </div>
	        </div>
	    </div>
	</div>

</div>

{% endblock %}

{% block script %}
<script src="/static/highcharts/highcharts.js"></script>
<script src="/static/highcharts/themes/dark-unica.js"></script>		<!-- 样式表 -->

<script type="text/javascript">
	var charOptions = {
			/* chart图表区属性设置 */
			chart: {
				type: 'column',				/* 图表类型 */
				margin: [80, 70, 80, 70],	/* 图表与包裹它的div四个方向(顺时针)的边距，或与其它图表的间距 */
				renderTo: 'highchart_container'
			},

			/* chart title的设置 */
			title: {
				text: 'Salt Minion 近10天存活情况'
			},

			/* chart x坐标轴设置 */
			xAxis: {
				type: 'category',

				/* 设置样式 */
				labels: {
					rotation: -45,
					style: {
						fontsize: '12px',
						fontFamily: 'Verdana, sans-serif'
					}
				}
			},

			/* chart y坐标轴设置 */
			yAxis: {
				title: {
					text: 'Minions Alive'
				},
				min: 0,
				max: 100,
			},

			/* chart图例设置，设置chart的图例样式 */
			legend: {
				enabled: false
			},

			/* plotOptions 每个series的数据点选项设置，Highcharts对不同的series type提供的选项略有不同，plotOptions.series里提供了一些共有的属性。*/
            plotOptions: {
                series: {
                	cursor: 'pointer',
                    borderWidth: 0,    /* 配置column图表的属性 */
                    dataLabels: {
                        enabled: true,
                        format: '{point.y:.1f}%'
                    },
                    point: {
	                    events: {
	                    	click: function () {
	                    		var i = 'Inactive Minions: ';
	                    		i += '\n';
	                    		i += charOptions.series[3].data[this.name];
	                    		alert(i);
	                    	}
	                    }
                    }
                }
            },	

			/* chart数据点提示框设置，当鼠标滑向数据点时显示的提示信息 */
			tooltip: {
	            formatter: function () {
	            	// alert(this.points[0].point.name);  //shared为true
	            	// alert(this.point.name);	//shared为false
	            	var s = 'Alive: ' + '<em>' + charOptions.series[1].data[this.points[0].point.name] + '</em>';
	            	s += '<br/>';
	            	s += 'Inactive: ' + '<em>' + charOptions.series[2].data[this.points[0].point.name] + '</em>';
	            	return s
	            },
	            shared: true, 
			},

			/* 数据 */
	        series: [{
	            name: 'alive percent',
	            data: null,

	            dataLabels: {
	                enabled: true,
	                // rotation: -90,
	                color: '#FFFFFF',
	                align: 'center',
	                /* 图标中数字的左右偏移量 */
	                x: 0,
	                /* 图标中数字的上下偏移量 */
	                y: 0,

	                style: {
	                    fontSize: '13px',
	                    fontFamily: 'Verdana, sans-serif',
	                    textShadow: '0 0 3px black'
	                }
	            }
	        },

	        {
	        	visible: false,
	        	name: 'aliveCount',
	        	data: null

	        },

	        {
	        	visible: false,
	        	name: 'notaliveCount',
	        	data: null

	        },

	        {
	        	visible: false,
	        	name: 'minionNoresponse',
	        	data: null

	        }        	                
	        ]
	    }


	function showChart() {
		$.getJSON('/getRedis/', function (data) {
			charOptions.series[0].data = data.minionAlive;
			charOptions.series[1].data = data.aliveCount;
			charOptions.series[2].data = data.notaliveCount;
			charOptions.series[3].data = data.minionNoresponse;	

			var chart = new Highcharts.Chart(charOptions);
		});	
	}

	showChart();

</script>

{% endblock %}