{% extends "base.html" %}

{% block main %}
<div id="content" class="content">
    <div class="page-content">                  
        <div class="page-content">
            <div class="row" style="margin-top:10px;">

                <div class="col-lg-6">
                    <div class="well">
                        <h2>帮助文档</h2>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="well">
                        <h2>更新历史</h2>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</div>
{% endblock %}