<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>UATINFO</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="description">
<meta content="" name="author">

<!-- ================== BEGIN BASE CSS STYLE ================== -->
<link href="/static/color/css/jquery-ui.min.css" rel="stylesheet">
<link href="/static/color/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="/static/color/css/animate.min.css" rel="stylesheet">
<link href="/static/color/css/style.min.css" rel="stylesheet">
<link href="/static/color/css/style-responsive.min.css" rel="stylesheet">
<!-- ================== END BASE CSS STYLE ================== -->

<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
<link href="/static/color/css/data-table.css" rel="stylesheet">
<!-- ================== END PAGELEVEL STYLE ================== -->

<style type="text/css">
	a:link {text-decoration: none; color:none}
</style>